.gradient {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(0, 0, 0, 60%) 83%
  );
}

.card-wrapper {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.card {
  position: relative;
  height: 250px;
  margin: 0 5% 10% 5%;
  border-radius: 7px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 60%) 15%,
      rgba(255, 255, 255, 0) 83%
    ),
    url(http://via.placeholder.com/640x360);
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  min-height: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-title {
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: larger;
}

.card-description {
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: left;
}

/* hovers */

.card:hover {
}
