.modal-container {
  z-index: 1;
  background-color: rgba(0, 0, 0, 10%);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  padding-top: 100px;
}

.modal-body {
  padding: 10px;
  background-color: #fff;
  width: 500px;
  margin: auto;
  border-radius: 18px;
  border: 2px solid white;
}

.modal-fix {
  display: flex;
}

.close-btn {
  font-weight: 600;
  display: block;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: rgb(255, 64, 64);
  position: relative;
  margin-left: auto;
  margin-top: 5px;
  padding: 4px 6px;
}

.close-btn:hover {
  background-color: rgb(255, 44, 44);
}

.confirm-btn {
  font-weight: 500;
  color: white;
  display: block;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  background-color: rgb(0, 209, 28);
  position: relative;
  margin-left: auto;
  margin-top: 5px;
  padding: 4px 6px;
}

.confirm-btn:hover {
  background-color: rgb(0, 255, 55);
}

.modal-form {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 0px;
  justify-content: space-around;
}

.modal-input {
  width: 100%;
}

.modal-input p {
  text-align: left;
  margin-bottom: 0px;
}

.modal-input input {
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.description {
  height: 50px;
}

.modal-input textarea {
  resize: none;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.add-fave-button{
   
}